{% extends "base.html" %}
{% load staticfiles %}
    {% block main_container %}
                <header>
					<h2>Blog Entry</h2>
					<p>Like a mini printing press lurking on the net.</p>
				</header>
				<div class="row">
					<div class="12u">
						<!-- Text -->
							<section class="box">
								<article headline="{{entry.title}}" datePublished="{{ entry.publish_date|date:"c" }}" itemtype="http://schema.org/Article">
                                <header>
									<h3>{{ entry.title }}</h3>
									<p>{{ entry.publish_date|timesince }}</p>
								</header>
	                             {% autoescape off %}
                                {{ entry.text|linebreaks }}</p>
								{% endautoescape %}
                                <hr />
                                {% if entry.link_set.all %}
                                {% for link in entry.link_set.all %}
                                <div class="6u">
                                <header>
                                <h4>{{ link.title }}</h4>
                                <p>{{ link.description }}</p>
                                <p><a href="{{ link.url }}">{{link.url}}</a></p>
                                </header>
                                </div> 
                                {% endfor %}
                                </article>
                                <hr />
                                {% endif %}
                                <div class="pagination">
                                        <a  class = "button"
                                            onclick = "window.history.back()"
                                        >Back</a>
                                    </div>
							</section>

					</div>
				</div>
    {% endblock main_container %}
