{% extends "base.html" %}
{% load staticfiles %}
    {% block body_class %}landing{% endblock body_class %}
        {% block banner %}
		<!-- Banner -->
			<section id="banner">
				<h2>Letts.me</h2>
				<p>All things Letts.</p>
			</section>
        {% endblock banner %} 
        {% block main_container %}
				<section class="box special">
					<header class="major">
						<h2>Blog. Contact Portal.
						<br />
						Portfolio. Reading Archive.</h2>
						<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
						adipiscing nunc adipiscing. Condimentum turpis massa.</p>
					</header>
					<span class="image featured"><img src={% static "alpha/images/pic01.jpg"%} alt="" /></span>
				</section>
						
					
				<div class="row">
					<div class="6u">

						<section class="box special">
							<span class="image featured"><img src={% static "alpha/images/pic02.jpg"%} alt="" /></span>
							<h3>Sed lorem adipiscing</h3>
							<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Read More</a></li>
							</ul>
						</section>
						
					</div>
					<div class="6u">

						<section class="box special">
							<span class="image featured"><img src={% static "alpha/images/pic03.jpg"%} alt="" /></span>
							<h3>Accumsan integer</h3>
							<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</section>

					</div>
				</div>

			</section>
			{% endblock main_container %}
